table {
  width: 300px;
  height:400px;
  text-align:center;
  margin: 20px;
}

input {
  width:70px;
  height:70px;
  font-size:large;
  border-radius:20px;
}

.button_color:active {
  border-color: blue;
}

.displpy {
 width:300px;
 height:70px;
 font-size:large;
 text-align:right;
 border-radius:0px;
 background-color:#000000;
}

.displpy {
  color:white;
}

.lastbutton {
  width:150px;
}